.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2833;
    color: #c5c6c7;
    height: 8vh;
}

.nav ul {
    display: flex;
    margin-left: 0;
    padding-left: 1rem;
    list-style: none;
}

.nav ul li a {
    font-size: 1rem;
    text-decoration: none;
    padding: 0px;
    margin-right: 2rem;
}

.nav ul li a:hover {
    border-top:solid  2px #66fcf1;
    transition: all 100ms ease;
}

.active {
    color: #45a29e;
}

.cosmos {
    display: flex;
    height: inherit;
    align-items: center;
    padding-right: 1.25rem;
}

.cosmos p {
    display: flex;
    font-size: larger;
    margin-right: 0.75rem;
    align-items: center;
}

/* 
Colors:

#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e
*/